<div class="container flex flex-wrap justify-center gap-8">
  {{range $i, $post := .posts}}
  <div class="card p-8 rounded-lg shadow-md bg-white text-black w-96 h-96">
    <div class="card__header">
      <img src="/public/images/{{$post.CoverImage}}" alt="card__image" class="card__image w-full" width="600">
    </div>
    <div class="card__body mt-4">
      <span class="tag tag-blue">Technology</span>
      <h4 class="text-2xl font-semibold">{{$post.Title}}</h4>
      <p class="text-gray-600">{{$post.Content}}</p>
    </div>
    <div class="card__footer mt-auto">
      <div class="user flex items-center gap-2">
        <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image rounded-full">
        <div class="user__info">
          <h5 class="text-lg font-medium">Jane Doe</h5>
          <small class="text-gray-400">2h ago</small>
        </div>
      </div>
    </div>
  </div>
  {{end}}
</div>