<div class="container flex justify-center gap-8 flex-wrap border-2 border-rose-500">
  {{range $i, $post := .posts}}
  <div class="card p-8 rounded-lg shadow-md bg-white text-black w-96">
    <div class="card__header">
      <img src="/public/images/{{$post.CoverImage}}" class="card_image w-full h-36 rounded-md" alt="card_image"
        loading="lazy">
    </div>
    <div class="card__body mt-4">
      <span class="tag tag-blue">Technology</span>
      <h4 class="text-2xl font-semibold">{{$post.Title}}</h4>
      <p class="text-gray-600">{{$post.Content}}</p>
    </div>
    <div class="card__footer mt-auto">
      <div class="user flex items-center gap-2">
        <img src="https://i.pravatar.cc/40?img=1" alt="user_image" class="user_image rounded-full">
        <div class="user__info">
          <h5 class="text-lg font-medium">Jane Doe</h5>
          <small class="text-gray-400">2h ago</small>
        </div>
      </div>
    </div>
  </div>
  {{end}}
</div>