<div class="container mx-auto py-8">
  <div class="max-w-md mx-auto bg-white rounded-lg shadow-lg text-black">
    <!-- Profile Header -->
    <div class="p-4 border-b">
      <div class="flex items-center">
        <img
          class="w-16 h-16 rounded-full mr-4"
          src="/public/images/profile.jpg"
          alt="Profile Picture"
        />
        <div>
          <h1 class="text-xl font-semibold">John Doe</h1>
          <p class="text-gray-500">{{ .user.Username }}</p>
        </div>
      </div>
    </div>

    <!-- Profile Details -->
    <div class="p-4">
      <h2 class="text-lg font-semibold">About Me</h2>
      <p class="mt-2">
        Web Developer | Passionate about coding and technology.
      </p>
    </div>
  </div>
</div>
