<div class="bg-BgBlack p-8 shadow-lg rounded-lg w-96">
    <h2 class="text-2xl font-bold mb-6">Reset Password</h2>
    <form hx-post={{URL "ResetPassword" }} onsubmit="return checkPasswords()">
        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="password">New Password</label>
            <input class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300"
                type="password" id="password" name="password" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="confirm_password">Confirm New Password</label>
            <input class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300"
                type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <button
            class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">Reset Password</button>
    </form>
    <p class="text-red-500 mt-2 hidden" id="passwordMismatch">Passwords do not match.</p>
</div>

<script>
    function checkPasswords() {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm_password').value;
        const passwordMismatchMsg = document.getElementById('passwordMismatch');

        if (password !== confirmPassword) {
            passwordMismatchMsg.classList.remove('hidden');
            return false; // Prevent form submission
        } else {
            passwordMismatchMsg.classList.add('hidden');
            return true; // Allow form submission
        }
    }
</script>