<div class="container mx-auto p-4" id="settings">
  <div class="bg-gray-800 rounded-lg shadow-lg p-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <form id="settings-form" hx-post={{URL "Settings" }} hx-target="#settings" hx-encoding='multipart/form-data'
          class="mt-8 space-y-4">

          <!-- Card Section -->
          <div class="mx-auto max-w-4xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
            <!-- Card -->
            <div class="rounded-xl bg-white p-4 shadow dark:bg-slate-900 sm:p-7">
              <div class="mb-8">
                <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200">Profile</h2>
                <p class="text-sm text-gray-600 dark:text-gray-400">Manage your name, password and account settings.</p>
              </div>

              <form>
                <!-- Grid -->
                <div class="grid gap-2 sm:grid-cols-12 sm:gap-6">
                  <div class="sm:col-span-3">
                    <label class="mt-2.5 inline-block text-sm text-gray-800 dark:text-gray-200"> Profile photo </label>
                  </div>
                  <!-- End Col -->

                  <div class="sm:col-span-9">
                    <div class="flex items-center gap-5">
                      {{if eq .user.Profile.Picture "" }}
                      <img class="inline-block h-16 w-16 rounded-full ring-2 ring-white dark:ring-gray-800"
                        src="/public/images/profile.jpg" alt="Image Description" />
                      {{else}}
                      <img class="inline-block h-16 w-16 rounded-full ring-2 ring-white dark:ring-gray-800"
                        src="/public/profile/{{.user.Profile.Picture}}" alt="Image Description" />
                      {{end}}
                      <div class="flex gap-x-2">
                        <div>
                          <button type="button"
                            class="inline-flex items-center justify-center gap-2 rounded-md border bg-white px-3 py-2 align-middle text-sm font-medium text-gray-700 shadow-sm transition-all hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white dark:border-gray-700 dark:bg-slate-900 dark:text-gray-400 dark:hover:bg-slate-800 dark:hover:text-white dark:focus:ring-offset-gray-800">
                            <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                              fill="currentColor" viewBox="0 0 16 16">
                              <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                              <path
                                d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                            </svg>
                            Upload photo
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Col -->

                  <div class="sm:col-span-3">
                    <label for="af-account-full-name"
                      class="mt-2.5 inline-block text-sm text-gray-800 dark:text-gray-200"> Full
                      name </label>
                    <div class="hs-tooltip inline-block">
                      <button type="button" class="hs-tooltip-toggle ml-1">
                        <svg class="inline-block h-3 w-3 text-gray-400 dark:text-gray-600"
                          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                          <path
                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                      </button>
                      <span
                        class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible invisible absolute z-10 inline-block w-40 rounded-md bg-gray-900 px-2 py-1 text-center text-xs font-medium text-white opacity-0 shadow-sm transition-opacity dark:bg-slate-700"
                        role="tooltip"> Displayed on public forums, such as Preline </span>
                    </div>
                  </div>
                  <!-- End Col -->

                  <div class="sm:col-span-9">
                    <div class="sm:flex">
                      <input id="af-account-full-name" type="text"
                        class="relative -ml-px -mt-px block w-full border-gray-200 px-3 py-2 pr-11 text-sm shadow-sm first:rounded-t-lg last:rounded-b-lg focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-700 dark:bg-slate-900 dark:text-gray-400 sm:mt-0 sm:first:ml-0 sm:first:rounded-l-lg sm:first:rounded-tr-none sm:last:rounded-r-lg sm:last:rounded-bl-none"
                        placeholder="Alireza" value="{{ .user.Profile.Name }}" />
                    </div>
                  </div>
                  <!-- End Col -->

                  <div class="sm:col-span-3">
                    <label for="af-account-username"
                      class="mt-2.5 inline-block text-sm text-gray-800 dark:text-gray-200"> Email
                    </label>
                  </div>
                  <!-- End Col -->

                  <div class="sm:col-span-9">
                    <input id="af-account-username" type="text"
                      class="block w-full rounded-lg border-gray-200 px-3 py-2 pr-11 text-sm shadow-sm focus:border-blue-500 focus:ring-blue-500 dark:border-gray-700 dark:bg-slate-900 dark:text-gray-400"
                      placeholder="Username" value="{{ .user.Username }}" />
                  </div>
                  <!-- End Col -->
                  <div class="sm:col-span-3">
                    <label for="af-account-bio" class="mt-2.5 inline-block text-sm text-gray-800 dark:text-gray-200">
                      BIO </label>
                  </div>
                  <!-- End Col -->

                  <div class="sm:col-span-9">
                    <textarea id="af-account-bio"
                      class="block w-full rounded-lg border-gray-200 px-3 py-2 text-sm focus:border-blue-500 focus:ring-blue-500 dark:border-gray-700 dark:bg-slate-900 dark:text-gray-400"
                      rows="6" placeholder="Type your message...">{{ .user.Profile.Bio }}</textarea>
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Grid -->

                <div class="mt-5 flex justify-end gap-x-2">
                  <a href={{URL "Profile" }}
                    class="inline-flex items-center justify-center gap-2 rounded-md border bg-white px-3 py-2 align-middle text-sm font-medium text-gray-700 shadow-sm transition-all hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white dark:border-gray-700 dark:bg-slate-900 dark:text-gray-400 dark:hover:bg-slate-800 dark:hover:text-white dark:focus:ring-offset-gray-800">Cancel</a>
                  <button type="submit"
                    class="inline-flex items-center justify-center gap-2 rounded-md border border-transparent bg-blue-500 px-3 py-2 text-sm font-semibold text-white transition-all hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800">Save
                    changes</button>
                </div>
              </form>
            </div>
            <!-- End Card -->
          </div>

        </form>
      </div>
    </div>
  </div>
</div>















<!-- 
<div>
  {{if eq .user.Profile.Picture "" }}
  <img src="/public/images/profile.jpg" alt="User Avatar" class="w-48 h-48 object-cover rounded-md mb-4" />
  {{else}}

  <img src="/public/profile/{{.user.Profile.Picture}}" alt="User Avatar"
    class="w-48 h-48 object-cover rounded-md mb-4" />
  {{end}}

  <label for="profilePicture" class="block text-gray-300 font-bold mb-2">Profile Picture: </label>
  <input type="file" id="profilePicture" name="profilePicture" accept="image/*"
    class="appearance-none bg-gray-700 rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" />
  {{ if .error.Photo }}
  <label class="label">
    <span class="label-text-alt text-red-600">
      {{ .error.Photo }}
    </span>
  </label>
  {{ end }}
</div>

<div class="mb-4">
  <label for="name" class="block text-gray-300 font-bold mb-2">Name:</label>
  <input type="text" id="name" name="name" value="{{ .user.Profile.Name }}"
    class="appearance-none bg-gray-700 rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" />
  {{ if .error.Name }}
  <label class="label">
    <span class="label-text-alt text-red-600">
      {{ .error.Name }}
    </span>
  </label>
  {{ end }}
</div>
<div class="mb-4">
  <label for="username" class="block text-gray-300 font-bold mb-2">Username:</label>
  <input type="text" id="username" name="username" value="{{ .user.Username }}"
    class="appearance-none bg-gray-700 rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" />
  {{ if .error.Username }}
  <label class="label">
    <span class="label-text-alt text-red-600">
      {{ .error.Username }}
    </span>
  </label>
  {{ end }}
</div>
<div class="mb-4">
<label for="bio" class="block text-gray-300 font-bold mb-2">Bio:</label>
  <textarea id="bio" name="bio" rows="4"
    class="appearance-noneT bg-gray-700 rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline">{{ .user.Profile.Bio }}</textarea>
  {{ if .error.Bio }}
  <label class="label">
    <span class="label-text-alt text-red-600">
      {{ .error.Bio }}
    </span>
  </label>
  {{ end }}
</div> -->
<!-- Add more user data input fields here -->
<!-- <div>
  <button type="submit"
    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
    Save Changes
  </button>
</div> -->