<div class="container mx-auto p-4" id="settings">
  <div class="bg-gray-800 rounded-lg shadow-lg p-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <form id="settings-form" hx-post={{URL "Settings" }} hx-target="#settings" hx-encoding='multipart/form-data'
          class="mt-8 space-y-4">
          <div>
            {{if eq .user.Profile.Picture "" }}
            <img src="/public/images/profile.jpg" alt="User Avatar" class="w-48 h-48 object-cover rounded-md mb-4" />
            {{else}}

            <img src="/public/profile/{{.user.Profile.Picture}}" alt="User Avatar"
              class="w-48 h-48 object-cover rounded-md mb-4" />
            {{end}}

            <label for="profilePicture" class="block text-gray-300 font-bold mb-2">Profile Picture: </label>
            <input type="file" id="profilePicture" name="profilePicture" accept="image/*"
              class="appearance-none bg-gray-700 rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" />
            {{ if .error.Photo }}
            <label class="label">
              <span class="label-text-alt text-red-600">
                {{ .error.Photo }}
              </span>
            </label>
            {{ end }}
          </div>

          <div class="mb-4">
            <label for="name" class="block text-gray-300 font-bold mb-2">Name:</label>
            <input type="text" id="name" name="name" value="{{ .user.Profile.Name }}"
              class="appearance-none bg-gray-700 rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" />
            {{ if .error.Name }}
            <label class="label">
              <span class="label-text-alt text-red-600">
                {{ .error.Name }}
              </span>
            </label>
            {{ end }}
          </div>
          <div class="mb-4">
            <label for="username" class="block text-gray-300 font-bold mb-2">Username:</label>
            <input type="text" id="username" name="username" value="{{ .user.Username }}"
              class="appearance-none bg-gray-700 rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" />
            {{ if .error.Username }}
            <label class="label">
              <span class="label-text-alt text-red-600">
                {{ .error.Username }}
              </span>
            </label>
            {{ end }}
          </div>
          <div class="mb-4">
            <!-- Bio input goes here -->
            <label for="bio" class="block text-gray-300 font-bold mb-2">Bio:</label>
            <textarea id="bio" name="bio" rows="4"
              class="appearance-noneT bg-gray-700 rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline">{{ .user.Profile.Bio }}</textarea>
            {{ if .error.Bio }}
            <label class="label">
              <span class="label-text-alt text-red-600">
                {{ .error.Bio }}
              </span>
            </label>
            {{ end }}
          </div>
          <!-- Add more user data input fields here -->
          <div>
            <button type="submit"
              class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
              Save Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>