<div class="max-w-sm bg-white p-8 rounded shadow-md text-black">
  <h1 class="text-3xl text-green-600 font-bold mb-6">User Created</h1>
  <p class="text-gray-700 mb-4">
    Congratulations! Your registration was successfully processed.
  </p>
  <div class="mb-4">
    <p class="text-gray-700 font-bold">Email:</p>
    <p class="text-gray-700">{{ .Email }}</p>
  </div>
  <div class="mb-6">
    <p class="text-gray-700 font-bold">Username:</p>
    <p class="text-gray-700">{{ .Username }}</p>
  </div>
  <a
    href="/login"
    class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition duration-300 ease-in-out"
  >
    Login
  </a>
  <br /><br />
  <p>
    To complete the registration process, please check your email for a
    confirmation message. Click the link provided to activate your account and
    start enjoying our platform's benefits.
  </p>
  <br />
  <p>
    If you cannot find the email in your inbox, kindly check your spam folder.
    Should you require any assistance, feel free to contact our support team at
    <a class="link text-blue-500" href="mailto:shabeh.roshan.email@gmail.com"
      >shabeh.roshan.email@gmail.com</a
    >.
  </p>
  <br />
  <p>Welcome aboard!</p>

  <p>Best regards,</p>
  <p>Alireza Bahari<br />Shabeh Roshan</p>
</div>
