<a class="card w-96 flex flex-col group bg-white border shadow-sm rounded-xl overflow-hidden hover:shadow-lg transition dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]"
    href={{URL "Post" }}/{{.ID}}>
    <div class="relative pt-[50%] sm:pt-[60%] lg:pt-[80%] rounded-t-xl overflow-hidden">
        <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-t-xl"
            src="/public/images/{{.CoverImage}}" alt="Image Description">
    </div>
    <div class="p-4 md:p-5">
        <h3 class="text-lg font-bold text-gray-800 dark:text-white">
            {{.Title}}
        </h3>
        <!-- <p class="mt-8 mx-auto prose">
            
        </p> -->
    </div>
    <div class="card__footer p-5">
        <div class="user flex items-center gap-2">
            <img src="https://i.pravatar.cc/40?img=1" alt="user_image" class="user_image rounded-full">
            <div class="user__info">
                <h5 class="text-lg font-medium">Jane Doe</h5>
                <small class="text-gray-400">2h ago</small>
            </div>
        </div>
    </div>
</a>